*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  background-color: lightgreen;
  
  
}

li{
  padding: 5px;
}

.container-sm{
  height:max-content;
  width:max;
  text-align: center;
  margin-top: 0;
}
.container-fluid{
  height: 1200px;
  width: 100%;
  background-color:white

}
.row{
  margin-top: 5px;
  padding: 10px;
}

#main-card{
  background-color:blue;
  color: white;
}

.card-body{
  
  background-color: black;
  color: white;
}

.field{
  margin-bottom: 10px;
  height: max-content;
}




 
  